<h1 class="quest-h1">Recent Questions</h1>
<div id="questionscontent">

    

<% @questions.each do |question| %>

<div class="start-question">
        <span class="qu-username"><%= question.user.username %></span>
        <span class="qu-time"><%= question_date question %></span>
        <h2 class="qu-title"><%= question.heading %></h2>
        <!--<p class="qu-answers">⇱ 7 Answers</p>-->
        <%= link_to question_answers(question), question_path(id: question.id), class: "qu-answers" %>
    </div>

<% end %>
</div>

