<%= stylesheet_link_tag "questions_index.css", "data-turbo-track": "reload" %>
<div id="startcontent">
<h1 id="quest-h1">Recent Questions</h1>
<p>Testzeile</p>
<p>Testzeile</p>
<p>Testzeile</p>
<p>Testzeile</p>
<p>Testzeile</p>
<p>Testzeile</p>
<p>Testzeile</p>
<p>Testzeile</p>
</div>
