<%= stylesheet_link_tag "questionsmain", "data-turbo-track": "reload" %>

    <header>
        <h1 id="title">Code2Know</h1>
    </header>
    <div id="leftsidebar">

    <div id="buttons">
    <button id="askbtn">+ ASK A QUESTION</button>
    <button class="sidebtn">Home</button>
    <button class="sidebtn">Find questions</button>
    <button class="sidebtn">Categories</button>
    <button class="sidebtn">User</button>
    </div>

    </div> 