<%= stylesheet_link_tag "questions_index.css", "data-turbo-track": "reload" %>
<div id="content">
<h1 id="quest-h1">Recent Questions</h1>
<p>This is a small white line... :)</p>
<p>This is a small white line... :)</p>
<p>This is a small white line... :)</p>
<p>This is a small white line... :)</p>
<p>This is a small white line... :)</p>
<p>This is a small white line... :)</p>
<p>This is a small white line... :)</p>
<p>This is a small oliver line... :)</p>
<p>This is a small white line... :)</p>
<p>This is a small white line... :)</p>
<p>This is a small white line... :)</p>
<p>This is a small white line... :)</p>
<p>This is a small white line... :)</p>
<p>This is a small white line... :)</p>
<p>This is a small white line... :)</p>


<% @questions.each do |question| %>

<p><%= question.heading %></p>

<% end %>

</div>
