<%= stylesheet_link_tag "questions_index.css", "data-turbo-track": "reload" %>
<div id="content">
<h1 id="quest-h1">Recent Questions</h1>

    <div class="start-question">
        <span>Schnurliver</span>
        <h2>How to center a div?</h2>
        <p>How to center my div?</p>
        <p>Thanks for every answer :)</p>
    </div>

<% @questions.each do |question| %>

<p><%= question.heading %></p>

<% end %>

</div>
