
<div class="form">
<div class="form-content">
<%= form_with url: search_path, data: { turbo: false } do |form| %>

<div>
    <p>Search for a topic!</p>
    <%= form.text_field :query, class: "searchinput" %>
</div>

<div>
    <%= form.submit "Search", id: "formsignin" %>
</div>

<% end %>
</div>
</div>