/* For every Site */
#quest-h1{
    position: relative;
    /* margin: 100px 0 0 230px; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
#loggedinas{
    position: absolute;
    top: 5px;
    right: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #415368;
}
#content{

    position: relative;
    margin: 80px 0 0 0px;
    width: calc(100%);
    height: calc(100%-60px);
    transition: all 0.5s;
    /* background-color: grey !important; */
}
form.button_to{
    /* background-color: blue; */
    width: 200px;
    height: 50px;
}
/* For application.html.erb */
body{
    background-color: #17181A;
    color: white;
    overflow-x: hidden;
}

header{
    background-color: #1D2022;
    width: 100%;
    position: fixed;
    height: 60px;
    display: inline;
    border-bottom: 3px solid #353B40;
    top: 0;
    left: 0;
    z-index: 2;
}
#title{
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
    padding-left: 35px;
}
#leftsidebar{
    background-color: #1D2022;
    position: fixed;
    top: 0;
    left: 0;
    width: 0px;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    justify-content: center;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0 0 700px 0;
    padding-bottom: 300px;
    /* display: none; */

}
#mainbutton{
    width: 100%;
    height: 60px;
    /* background-color: darkcyan; */
    margin-top: 100px;
}
#buttons{
    max-height: 500px;
    min-height: 200px;
    width: 100%;
    /* background-color: cornsilk; */
    margin-top: 50px;
    margin-bottom: 100px;
}
.sidebtn{
    width: 190px;
    padding: 10px 37px 10px 37px;
    margin-left: 5px;
    background-color: #23272A;
    color: white;
    font-size: 12px;
    border: thin solid transparent;
    border-radius: 8px;
    position: relative;
    transition: all 0.5s;
    display: none;
    height: 40px;


}
.sidebtn:hover{
    background-color: #33393D;
    cursor: pointer;
}

#askbtn{
    width: 190px;
    padding: 10px 37px 10px 37px;
    margin-left: 5px;
    background-color: #00487D;
    color: white;
    font-size: 12px;
    border: thin solid transparent;
    border-radius: 8px;
    position: relative;
    transition: all 0.5s;
    display: none;
    height: 40px;
}
#askbtn:hover{
    background-color: #1267A6;
    cursor: pointer;
}


#loginsidebar{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 0px;
    background-color: #111316;
    height: 60px;
    display: flex;
    transition: all 0.5s;
    z-index: 1;

}
#loginbtn{
    background-color: #23272A;
    border: thin solid transparent;
    /* padding: 10px 35px 10px 35px; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    border-radius: 5px;
    color: transparent;
    margin: 5px 0 0 5px;
    position: fixed;
    transition: all 0.5s;
    display: none;


}
#loginbtn:hover{
    background-color: #33393D;
    cursor: pointer;
}
@media (min-width: 600px) {
    #leftsidebar{
        width: 200px;
    }
    #askbtn{
        display: block;
        
    }
    .sidebtn{
        display: block;
        
    }
    #loginsidebar{
        display: flex;
        width: 200px;
    }
    #loginbtn{
        width: 190px;
        padding: 10px 37px 10px 37px;
        color: white;
        display:block;
        
    }
    #content{
        position: relative;
        margin: 80px 0 0 210px;
        width: calc(100%-200px);
        height: calc(100%-60px);
        
        /* background-color: grey !important; */
    }

    
}

