#markdown-content {
    background-color: #333333;
    height: 200px;
    max-width: 80%;
    min-height: 150px;
    min-width: 80%;
}
/* #markdown-content:focus{
    border: thin solid #1267A6;
    filter: drop-shadow(0px 0px 20px #1267A6);
} */
#qu-title{
    background-color: #333333;
}

/* #qu-title:focus{
    border: thin solid #1267A6;
    filter: drop-shadow(0px 0px 20px #1267A6);
} */
#createqu:hover{
    border: thin solid #1267A6;
    filter: drop-shadow(0px 0px 20px #1267A6);
}
#formsignin:hover{
    border: thin solid #1267A6;
    filter: drop-shadow(0px 0px 20px #1267A6);
}

#notice{


    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
#noticediv img{
    height: 20px;
    width: 20px;
    transition: all 0.3s;
    display: flex;
    flex-wrap: nowrap;
    margin-right: 10px;

}
#noticediv img:hover{
    cursor: pointer;
    opacity: 0.4;
}
#noticediv{
    width: auto;
    height: auto;
    background-color: #353B40;
    padding: 10px 15px 10px 15px;
    border-radius: 8px;
    position: fixed;
    bottom: 5%;
    right: 3%;
    display: flex;
    flex-wrap: nowrap;
    z-index: 999;
    transition: all 0.4s ease;
    opacity: 1;
}

.userlink{
    text-decoration: none;
    color: white;
}
.userlink:hover{
    color: #1267A6;
}
.editlink{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.444);
}
.editlink:hover{
    color: #1267A6;
}
.usersoverview{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}
.users{
    background-color: #23272A;
    width: 300px;
    padding: 15px;
    margin: 15px;
    border-radius: 9px;
    height: auto;
}



.form{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
    width: 100%;
    transition: all 0.5s;
    padding: 20px 0px 30px 0px;
}
.forminput{
    width: 80%;
    border: thin solid transparent;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    margin: 15px 5px 15px 5px;
    background-color: #1D2022;
    color: white;
    
}
.forminput:focus{
    outline: none;
    background-color: #33393D;
}
.form-content{
    background-color: #1D2022;
    /* margin: 30px; */
    padding: 20px 0px 50px 0px;
    border-radius: 13px;
    width: 100%;
    /* border: thin solid #1267A6; */
    text-align: center;
    margin-top: 50px;
}
.qu-content{
    background-color: #1D2022;
    /* margin: 30px; */
    padding: 20px 0px 50px 0px;
    border-radius: 13px;
    width: 100%;
    /* border: thin solid #1267A6; */
    text-align: center;
    margin-top: 50px;
}
.formbtn{
    width: 60%;
    padding: 10px 37px 10px 37px;

    margin: 10px;
    background-color: #111316;
    color: white;
    font-size: 12px;
    border: thin solid transparent;
    border-radius: 8px;
    position: relative;
    transition: all 0.5s;
    height: 40px;


}
.formbtn:hover{
    background-color: #23272A;
    cursor: pointer;
}

#formsignin{
    width: 60%;
    padding: 10px 37px 10px 37px;
    margin: 10px;
    background-color: #00487D;
    color: white;
    font-size: 12px;
    border: thin solid transparent;
    border-radius: 8px;
    position: relative;
    transition: all 0.5s;
    height: 40px;


}
#formsignin:hover{
    background-color: #1267A6;
    cursor: pointer;
}


.start-question{
    position: relative;
    width: 300px;
    height: auto;
    background-color: #1D2022;
    padding: 15px 20px 10px 20px;
    border-radius: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 15px;
    transition: all 0.2s;
}
.start-question:hover{
    background-color: #23272A;
    cursor: pointer;
}
.qu-username{
    opacity: 0.5;
    font-size: 15px;
}
.qu-time{
    opacity: 0.3;
    font-size: 10px;
}
.qu-title{
    font-size: 20px;
}
.qu-answers{
    color: #1267A6;
    transition: all 0.2s;
    text-decoration: none;
}
.qu-answers:hover{
    color: #00487D;
    cursor: pointer;
}
.codeblock{
    background-color: #353B3F;
    width: 70%;
    max-width: 75%;
    padding: 3px 20px 0px 20px;
    border-radius: 5px 5px 0 0;
}
.codeblock-copy{
    width: 70%;
    max-width: 75%;
    background-color: #111316;
    padding: 10px 20px 10px 20px;
    margin-top: -12px;
    border-radius: 0px 0px 5px 5px;
}

/* For every Site */
.quest-h1{
    position: relative;
    font-size: 2rem;
    /* margin: 100px 0 0 230px; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
#loggedinas{
    display: none;
    position: absolute;
    top: 5px;
    right: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #415368;
}
#content{

    position: relative;
    margin: 80px 0 0 0px;
    width: calc(100%-300px);
    height: calc(100%-200px);
    transition: all 0.5s;
    display: grid;
    justify-content: center;
    /* background-color: aquamarine; */
    
    /* background-color: grey !important; */
}
#questionscontent{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* background-color: teal; */
}
/* form.button_to{
    width: 200px;
    height: 50px;
} */
/* For application.html.erb */
body{
    background-color: #17181A;
    color: white;
    overflow-x: hidden;
    
}

header{
    background-color: #1D2022;
    width: 100%;
    position: fixed;
    height: 60px;
    display: inline;
    border-bottom: 2px solid #353B40;
    top: 0;
    left: 0;
    z-index: 9;
}
.title{
    font-size: 20px;
    font-family: Inter;
    padding: 7px 0px 0px 30px;
}
#leftsidebar{
    background-color: #1D2022;
    position: fixed;
    top: 0;
    left: 0;
    width: 0px;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    justify-content: center;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0 0 700px 0;
    padding-bottom: 300px;
    /* display: none; */

}
#mainbutton{
    width: 100%;
    height: 60px;
    /* background-color: darkcyan; */
    margin-top: 100px;
}
#buttons{
    max-height: 500px;
    min-height: 200px;
    width: 100%;
    /* background-color: cornsilk; */
    margin-top: 50px;
    margin-bottom: 100px;
}
.sidebtn{
    width: 170px;
    padding: 10px 37px 10px 37px;
    margin: 14px 0 14px 15px;
    background-color: #23272A;
    color: white;
    font-size: 12px;
    border: thin solid transparent;
    border-radius: 8px;
    position: relative;
    transition: all 0.5s;
    display: none;
    height: 40px;


}
.sidebtn:hover{
    background-color: #33393D;
    cursor: pointer;
}

#askbtn{
    width: 190px;
    padding: 10px 17px 10px 17px;
    margin-left: 5px;
    background-color: #00487D;
    color: white;
    font-size: 12px;
    border: thin solid transparent;
    border-radius: 8px;
    position: relative;
    transition: all 0.5s;
    display: none;
    height: 40px;
}
#askbtn:hover{
    background-color: #1267A6;
    cursor: pointer;
}


#loginsidebar{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 0px;
    background-color: #111316;
    height: 60px;
    display: flex;
    transition: all 0.5s;
    z-index: 1;

}
/* #absolutelogin{
    position: absolute;
    background-color: red;
    width: auto;
    height: auto;
    margin-top: 100%;
} */
#loginbtn{
    background-color: #23272A;
    border: thin solid transparent;
    /* padding: 10px 35px 10px 35px; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    border-radius: 5px;
    color: transparent;
    margin: 5px 0 0 5px;
    position: absolute;
    transition: all 0.5s;
    left: -200px;
    width: 190px;
    padding: 10px 37px 10px 37px;


}
#loginbtn:hover{
    background-color: #33393D;
    cursor: pointer;
}
@media (min-width: 600px) {
    #leftsidebar{
        width: 200px;
    }
    #askbtn{
        display: block;
        
    }
    .sidebtn{
        display: block;
        
    }
    #loginsidebar{
        display: flex;
        width: 200px;
    }
    #loginbtn{
        width: 190px;
        padding: 10px 37px 10px 37px;
        color: white;
        left: 0;
        
    }
    #content{
        position: relative;
        margin: 80px 0 0 210px;
        width: calc(100%-200px);
        height: calc(100%-60px);
        
        /* background-color: grey !important; */
    }
    #questionscontent{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        /* background-color:brown !important; */
        /* background-color: teal; */
    }
    #loggedinas{
        display: block;
        position: absolute;
        top: 5px;
        right: 30px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: #415368;
    }
    .form-content{
        background-color: #1D2022;
        /* margin: 30px; */
        padding: 20px 20px 50px 20px;
        border-radius: 8px;
        width: 350px;
        max-width: 800px;
        text-align: center;
        margin-top: 50px;
    }
    .qu-content{
        background-color: #1D2022;
        /* margin: 30px; */
        padding: 20px 20px 50px 20px;
        border-radius: 8px;
        width: 450px;
        max-width: 800px;
        text-align: center;
        margin-top: 50px;
    }
    .form{
        display: grid;
        justify-content: center;
        padding: 20px 0px 30px 0px;
    }



    
}
#r-menu{
    display: none;
}
#r-questionbtn{
    display: none;
}

@media (max-width: 600px){
    #burger{
        position: fixed;
        top: 10px;
        width: 40px;
        height: 40px;
        z-index: 99999;
        justify-content: center;
        right: 30px;
        
    }
    #burger:hover{
        cursor: pointer;
    }
    .burgeritem{
        width: 40px;
        height: 5px;
        background-color: white;
        margin: 6px 0 6px 0;
        border-radius: 2px;
        
    }
    .burgeritem:hover{
        opacity: 0.5;
    }
    #r-menu{
        position: fixed;
        top: -500px;
        right: 0;
        background-color: #1D2022;
        display: block;
        height: auto;
        width: auto;
        padding: 10px;
        z-index: 8;
        transition: all 0.5s;
        border-bottom: 2px solid #353B40;
        border-left: 2px solid #353B40;
        filter: drop-shadow(0px 0px 20px black);
    }
    #r-menu button{
        width: 170px;
        padding: 10px 37px 10px 37px;
        margin: 6px;
        background-color: #23272A;
        color: white;
        font-size: 12px;
        border: thin solid transparent;
        border-radius: 8px;
        position: relative;
        transition: all 0.5s;
        height: 40px;
        
    }
    #r-menu button:hover{
        background-color: #33393D;
        cursor: pointer;
    }
    #burgercheckbox{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        z-index: 99999;
        background-color: transparent !important;
    }
    #r-questionbtn{
        position: fixed;
        bottom: 30px;
        width: 100%;
        height: auto;
        z-index: 10;
        display: grid;
        justify-content: center;

    }
    #r-askbtn{
        width: 190px;
        padding: 10px 17px 10px 17px;
        background-color: #00487D;
        color: white;
        font-size: 12px;
        border: thin solid transparent;
        border-radius: 8px;
        position: relative;
        transition: all 0.5s;
        height: 40px;
    }
    #r-askbtn:hover{
        background-color: #1267A6;
        cursor: pointer;
    }
}
