/* For index.html.erb */
body{
    background-color: #17181A;
    color: white;
    overflow-x: hidden;
}

header{
    background-color: grey;
    width: 100%;
    position: fixed;
    height: 60px;
}