<h1 class="quest-h1">Categories</h1>

<ul>

  <% @categories.each do |category| %>
  
  <%= link_to category.name, category_path(id: category.id), class: "sh-qu-cat-items" %><br><br>

  <% end %>

</ul>
