<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="start-question">
        <span>Schnurliver</span>
        <h2>How to center a div?</h2>
        <p>How to center my div?</p>
        <p>Thanks for every answer :)</p>
        <div class="codeblock">
        <pre>
div
{
    position: relative;
    top: 50%;
    left: 50%;
}
        </pre>
        </div>
        <div class="codeblock-copy">
            <span>Copy Code</span>
        </div>
    </div>




<!-- NICHT ANRÜHREN, IST FÜR SPÄTER -->
    <p>How to center my div?</p>
    <p>Thanks for every answer :)</p>
    <div class="codeblock">
    <pre>
div
{
position: relative;
top: 50%;
left: 50%;
}
    </pre>
    </div>
    <div class="codeblock-copy">
        <span>Copy Code</span>
    </div>
</div>
</body>
</html>